#universityFilter{margin-top:5%}#universityFilter .nav-item .active{color:#fff!important}#universityFilter .nav-link{color:#555;font-weight:600;font-size:20px;text-transform:uppercase;text-decoration:none}.h5_2_P{font-size:1.25rem;font-weight:500;line-height:1.2}.h5_2_P_Days{margin-bottom:.5rem;font-weight:500;line-height:1.2;font-size:1.25rem}.nav-pills .nav-link.active,.nav-pills .show > .nav-link{color:#fff;background-color:#114694!important;padding:6px!important;border-radius:5px!important}.margin{margin:5px!important}
#movie_item {
    position: relative;
    margin-top: 10px;
    height: 175px;
}

.movie_item_poster {
    float: left;
    height: 150px;
    width: 100px;
}

.movie_item_content {
    position: relative;
}
.movie_item_toolbar {
    clear: both;
    vertical-align: bottom;
    width: 100%;
    height: 25px;
}