* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

html,
body {
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none
}

body::-webkit-scrollbar {
  display: none
}

.body {
  width: 100vw !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

.navbar {
  padding-right: 0;
  z-index: 1000
}

.navbar ul {
  margin-left: auto !important;
  margin-right: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #000;
  z-index: 1000
}

.navbar-light .navbar-nav .nav-link {
  color: #010101
}

.dropdown-menu {
  border-radius: 10px
}


#loginBtn {
  font-family: 'PT Sans';
  background: linear-gradient(99.09deg, #B06F41 0%, #794D9F 100%);
  border-radius: 10px;
  color: #fff;
  width: 100px
}

/* #loginBtn {
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 16px;
  border: none;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-box-shadow: 31px 23px 63px -17px rgba(77, 77, 77, 1);
  -moz-box-shadow: 31px 23px 63px -17px rgba(77, 77, 77, 1);
  box-shadow: 31px 23px 63px -17px #464545
} */

/* footer css */

footer {
  background-color: #F3F3F3
}

.colMargins {
  color: #000;
  margin-top: 50px
}

.colMargins a {
  font-family: 'PT SANS';
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #000
}

#subscribe-area input {

  font-family: 'PT SANS';
  border-radius: 10px;
  opacity: 0.5;
  border: 1px solid #114694
}

#subscribe-area .subscribe {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000;
}

#subscribe-area button {
  font-family: 'PT SANS';
  background: linear-gradient(99.09deg, #B06F41 0%, #794D9F 100%);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #fff;
}

.credit {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000
}

.headerLogo {
  display: block !important
}

.social-icons-fa a {
  font-size: 16px !important;
  color: #353232 !important;
  transition: all .3s ease !important
}

.social-icons-fa a:hover {
  transform: translateY(-5px)
}

.social-icons-fa a:nth-child(1):hover {
  color: #426782 !important
}

.social-icons-fa a:nth-child(2):hover {
  color: #e1306c !important
}

.social-icons-fa a:nth-child(3):hover {
  color: #1da1f2 !important
}

.social-icons-fa a:nth-child(4):hover {
  color: #1196e9 !important
}


.anchor {
  text-decoration: none !important;
  color: #010101 !important;
  font-weight: 600;
}

@media only screen and (max-width:800px) {
  .navbar-toggler {
    margin-right: 5% !important
  }
}

@media only screen and (max-width:500px) {
  body {
    overflow-x: hidden !important
  }

  .navbar-brand {
    position: relative;
    left: -30px
  }

  .navbar-toggler {
    margin-right: 5% !important
  }

  .colText {
    width: 50%;
    float: left;
    left: 10px
  }

  .colText2 {
    width: 50%;
    float: right;
    text-align: right;
    right: 10px
  }

  .social-icons-fa {
    width: 100%;
    display: flex;
    justify-content: space-around
  }

  .social-icons-fa a {
    font-size: 16px !important;
    color: #353232 !important;
    transition: all .3s ease
  }

  .social-icons-fa a:hover {
    transform: translateY(-2px)
  }

  .social-icons-fa a:nth-child(1):hover {
    color: #426782 !important
  }

  .social-icons-fa a:nth-child(2):hover {
    color: #e1306c !important
  }

  .social-icons-fa a:nth-child(3):hover {
    color: #1da1f2 !important
  }

  .social-icons-fa a:nth-child(4):hover {
    color: #1196e9 !important
  }

  .subscribe {
    margin: 10px auto
  }

  #subscribe-area {
    text-align: center
  }

  #subscribe-area p {
    text-align: center
  }
}

@media only screen and (max-width:500px) {
  #navbarNavDropdown {
    z-index: 1000
  }

  .navbar-toggler {
    margin-right: 5% !important
  }

  .navbar ul {
    position: relative !important;
    left: 15% !important;
    line-height: 32px
  }

  .navbar ul li {
    padding: 20px !important
  }
}

@media only screen and (max-width:400px) {
  #navbarNavDropdown {
    z-index: 1000
  }

  .navbar-toggler {
    margin-right: 5% !important
  }

  .navbar ul {
    position: relative !important;
    left: 15% !important;
    line-height: 32px
  }

  .navbar ul li {
    padding: 20px !important
  }
}

.anchor {
  text-decoration: none !important;
  color: #010101 !important;
}

.anchor:hover {
  opacity: 1 !important;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 0.781) !important;
}

.anchor:active {
  color: #114694;
}

.link {
  text-decoration: none !important;
}

.buttonWSF {
  border-radius: 4px;
  background-color: #070076;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 105px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonWSF span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonWSF span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonWSF:hover span {
  padding-right: 25px;
}

.buttonWSF:hover span:after {
  opacity: 1;
  right: 0;
}

@media (min-width:320px) {
  .colText2 {
    margin-top: -81px !important;
  }
}

@media (min-width:961px) {
  .colText2 {
    margin-top: 50px !important;
  }
}

@media (min-width: 1025px) {
  .colText2 {
    margin-top: 50px !important;
  }
}